@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i|Open+Sans:400,400i,700,700i|Yeseva+One');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #1d1d1d;
}

h1,
h2,
h3{
  font-family: 'Yeseva One', serif;
  font-weight: 400;
}

h2{
  font-size: 2.5em;
}

.title_color{
  color: #c9a131;
}

a{
  text-decoration: none;
  color: #f3f1f0;
}

a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  padding: 15px 50px;
  font-size: 0.75em;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  text-transform: none;
  overflow: visible;
  font: inherit;
  color: #ffffff;
}

.btn:focus{
  outline-style: none;
}

.divider,
.divider_color{
  margin: 15px 0;
}

/*Header*/
header{
  background-image: url(./img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav{
  /*liner-gradient*/
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  padding: 10px 0;
  margin-right: 120px;
}

.navbar{
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  font-family: 'Gentium Book Basic', serif;
}

.navbar__item{
  color: #f3f1f0;
  margin: 0 10px;
  padding: 0 10px;
}

.navbar__item:hover{
  border-top: 4px solid #f3f1f0;
  padding-top: 47px;
}

.mobile{
  display: none;
}

.header-icons{
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.icon-item{
  color: #c9a131;
  padding: 0 10px;
}

.home{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home__title{
  margin-top: 50px;
  font-size: 5.5em;
  color: #f3f1f0;
  width: 85%;
}

.home__img{
  margin: 50px 0;
}

.home-btn{
  padding-bottom: 100px;
}

.btn_primary{
  margin: 0 20px;
  border: 1px solid #000;
  background-color: rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.btn_primary:hover{
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.5);
}

/*About*/
#about-s{
  background-image: url(./img/about_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
}

.about__text{
  color: #1f1f1f;
}

.about__img{
  margin-top: 40px;
  padding-left: 80px;
}

/*Ingredients*/
#ingredients-s{
  background-image: url(./img/ingredients_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ingredients{
  display: flex;
  justify-content: flex-end;
}

.ing-card{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 100px 0 100px 40%;
}

.ing__title{
  margin-top: 80px;
  color: #fff;
}

.ing__text{
  color: #fff;
  margin: 20px 10% 0 10%;
}

.ing-imgs{
  margin: 50px auto;
  margin-bottom: 80px;
}

.ing-imgs__img{
  padding: 0 15px;
}

/*Menu*/
#menu-s{
  background-image: url(./img/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dish-item{
  padding: 10px;
  margin: 10px 0;
}

.dish{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c9a131;
  padding-bottom: 10px;
}

.dish__title{
  color: #c9a131;
}

.menu__title{
  margin-top: 20px;
}

.menu__text{
  text-align: left;
  margin-top: 10px;
}

.special{
  border: 1px solid #c9a131;
  margin-top: 30px;
  padding-top: 0;
}

.special::before{
  content: 'Special';
  position: relative;
  top: -26px;
  right: -43.5%;
  padding: 4px 15px;
  background-color: #c9a131;
  color: #fff;
  font-size: 14px;
}

/*Review*/
#reviews-s{
  background-image: url(./img/reviews_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.review{
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
}

.review__title{
  padding-top: 80px;
}

.review__text{
  font-size: 1.25em;
  padding: 0 10%;
  width: 70%;
  line-height: 2;
  position: relative;
}

.review__text::before{
  content: '\275B\275B';
  font-size: 3em;
  position: absolute;
  top: -45px;
  left: 60px;
  color: #8d8d8d;
}

.review__author{
  padding-top: 40px;
  padding-bottom: 100px;
}

/*Reservations*/
#reserv-s{
  background-image: url(./img/about_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.reserv{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.reserv-imgs{
  display: flex;
  justify-content: center;
}

.reserv-img{
  margin-right: 30px;
}

.reserv-desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reserv-desc__text{
  width: 80%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 15px;
}

.reserv-form{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.reserv-form__item{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  color: #c9a131;
  font-weight: 600;
  font-size: 14px;
}

.reserv-label{
  margin-bottom: 5px;
}

.reserv-input{
  height: 30px;
  width: 200px;
  padding: 5px 20px;
  color: #aeaeae;
  font-size: 16px;
}

.reserv-input::placeholder{
  color: #aeaeae;
  font-size: 16px;
}

.reserv-input:focus,
.reserv-input:active,
.reserv-input:checked{
  outline: none;
  border: 2px solid #c9a131;
}

.reserv-select{
  height: 45px;
  width: 245px;
}

.btn_gold{
  background-color: #c9a131;
  border: none;
  padding: 7px 60px;
}

/*Footer*/
footer{
  background-color: #1f1f1f;
}

.footer-info{
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.footer-desc{
  color: #fff;
  width: 30%;
}

.footer__text{
  margin-bottom: 7px;
}

.footer-icons{
  margin-top: 30px;
}

.footer-icon{
  margin: 0 5px;
  color: #fff;
}

@media only screen and (min-height: 345px){
  .menu{
    height: 100%;
  }
}

@media only screen and (min-height: 600px){
  .menu{
    height: 150vh;
    padding: 50px 0;
  }
}

@media only screen and (min-height: 700px){
  .menu{
    height: 130vh;
  }
}

@media only screen and (min-height: 800px){
  .menu{
    height: 110vh;
    padding: 100px 0;
  }
}

@media only screen and (min-height: 900px){
  .menu{
    height: 100vh;
  }
}

@media only screen and (max-width: 1300px){
  .container{
    max-width: 900px;
  }

  .logo{
    margin: 0 30px;
  }

  .home__title{
    width: 100%;
    font-size: 5em;
  }

  .about{
    flex-direction: column;
  }

  .about-desc{
    order: 1;
    width: 60%;
  }

  .review__text::before{
    top: -50px;
    left: 5px;
  }

  .reserv{
    flex-direction: column;
    align-items: center;
  }

  .reserv-imgs{
    order: 1;
    margin-top: 30px;
  }

  .reserv-img{
    margin: 0 20px;
  }
}

@media only screen and (max-width: 1200px){
  .navbar{
    font-size: 1.2em;
  }

  .header-icons{
    font-size: 1.2em;
  }

  .review__text::before{
    top: -50px;
    left: 15px;
  }
}

@media only screen and (max-width: 980px){
  .navbar{
    order: 1;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: flex;
    flex-direction: column;
  }

  .mobile-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    background-color: rgba(0,0,0,0.1);
  }

  .mobile-menu li{
    width: 100%;
    text-align: center;
  }

  .mobile-menu li:hover{
    width: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  .mobile-label{
    position: absolute;
    top: 40px;
    right: 50px;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
  }

  .navbar__item:hover{
    border-top: none;
    padding-top: 0;
  }

  #toggle{
    display: none;
  }

  #toggle:checked ~ .mobile-menu{
    display: flex;
    flex-direction: column;
  }

  nav{
    justify-content: space-around;
    position: relative;
  }

  .ingredients{
    justify-content: center;
  }

  .ing-card{
    margin-left: 0;
  }

  .menu{
    height: 100%;
  }

  .review__text::before{
    top: -50px;
    left: 25px;
  }

  .footer-info{
    flex-direction: column;
    align-items: center;
  }

  .footer-desc{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 875px){
  .container{
    max-width: 600px;
  }

  .home__title{
    font-size: 3.5em;
  }

  .dish_img{
    max-width: 100%;
  }

  .ing-card{
    width: 100%;
  }

  .review{
    margin: 0;
  }

  .reserv-img{
    margin: 0 5px;
  }

  .review__text::before{
    top: -40px;
    left: 30px;
  }

  .footer-desc{
    width: 80%;
  }
}

@media only screen and (max-width: 600px){
  .container{
    max-width: 400px;
  }

  nav{
    justify-content: center;
  }

  .header-icons{
    margin-right: 50px;
  }

  .home__title{
    font-size: 2.5em;
  }

  .home-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn_primary{
    margin: 10px 0;
  }

  .about-desc{
    width: 100%;
  }

  .ing-imgs{
    margin: 0;
  }

  .ing-imgs__img{
    padding: 15px 0;
    max-width: 30%;
  }

  .special::before{
    right: -43%;
  }

  .review__text{
    font-size: 1em;
    line-height: normal;
  }

  .review__text::before{
    top: -25px;
    left: 40px;
  }

  .reserv-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reserv-imgs{
    flex-direction: column;
  }

  .reserv-img{
    margin: 10px 0;
  }
}

@media only screen and (max-width: 500px){
  .mobile-label{
    right: 20px;
  }
}
