@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i|Open+Sans:400,400i,700,700i|Yeseva+One');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #1d1d1d;
}

h1,
h2,
h3{
  font-family: 'Yeseva One', serif;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  padding: 15px 50px;
  font-size: 0.75em;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  text-transform: none;
  overflow: visible;
  font: inherit;
  color: #ffffff;
}

.btn:focus{
  outline-style: none;
}

/*Header*/
header{
  background-image: url(./img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav{
  /*liner-gradient*/
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  padding: 10px 0;
  margin-right: 120px;
}

.navbar{
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  font-family: 'Gentium Book Basic', serif;
}

.navbar__item{
  color: #f3f1f0;
  margin: 0 10px;
  padding: 0 10px;
}

.navbar__item:hover{
  border-top: 4px solid #f3f1f0;
  padding-top: 47px;
}

.mobile{
  display: none;
}

.header-icons{
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.icon-item{
  color: #c9a131;
  padding: 0 10px;
}

.home{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home__title{
  margin-top: 50px;
  font-size: 5.5em;
  font-weight: 400;
  color: #f3f1f0;
  width: 85%;
}

.home__img{
  margin: 50px 0;
}

.home-btn{
  padding-bottom: 100px;
}

.btn_primary{
  margin: 0 20px;
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.5);
  text-transform: uppercase;
}

.btn_primary:hover{
  border: 1px solid #000;
  background-color: rgba(0,0,0,0.5);
}
